#smallfont {
  font-size: .9rem;
}

.divider {
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}

.card {
  border: solid black 1px;
}

#larger {
  font-size: 2rem;
}




